.container {
  background-color: #4FB4EC;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 2rem;
  z-index: 10;
  background: url("../public/beach_backdrop.svg") no-repeat;

}

.fullWidth {
  /* width: 100vw; */
  /* margin-top: -20vh; */
  background-color: #4FB4EC;

}