.container {
  background-color: #4FB4EC;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 2rem;
  z-index: 10;
  background: top / contain no-repeat url("../public/beach_backdrop.svg");

}