.container {
  padding: 0 2rem;
}

.landingCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 2rem;
  z-index: 10;
  margin-top: 25vh;
  color: black;
  background: rgba(255, 255, 255, 0.81);
  border: 1px solid #000000;
  box-shadow: 8px 7px 8px rgba(0, 0, 0, 0.29);
  border-radius: 20px;
}