.container {
  padding: 0 2rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 2rem;
  z-index: 10;
  margin-top: 25vh;

}